<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="estilo.css">
</head>
<body>
<%= image_tag "shipit.png", class: "shipit" %>
<div class="text">
  <p>
    Acceso denegado, esto se debe a que esta intentando ingresar a una pagina que necesita acceso,
    por favor revise que cuenta con los permisos necesarios, y que haya ingresado un usuario y una contraseña.
  </p>
</div>
</body>
</html>
401.html.erb</p>
