<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="estilo.css">
</head>
<body>
<%= image_tag "shipit.png", class: "shipit" %>
<div class="text">
  <p>
    Error estas intentando acceder a una url que ya no existe, por favor verifica si la información de la url es correcta.
  </p>
</div>
</body>
</html>

