<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="estilo.css">
</head>
<body>
<%= image_tag "shipit.png", class: "shipit" %>
<div class="text">
  <div>
  <h1>Lo lamentamos pero algo salio mal.</h1>
  </div>
  <p>
    Si es el propietario de la aplicación, compruebe los registros para obtener más información.
  </p>
</div>
</body>
</html>


